<!DOCTYPE html>
<html>
  <head>
    <base href="http://demos.telerik.com/kendo-ui/grid/angular">
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.607/styles/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.607/styles/kendo.bootstrap.min.css" />

    <script src="//kendo.cdn.telerik.com/2016.2.607/js/jquery.min.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.607/js/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.js"></script>
    <script src="//kendo.cdn.telerik.com/2016.2.607/js/kendo.all.min.js"></script>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
  </head>
  <style>
    body{ 
    font: 13px sans-serif;
    }
    .one{
		background: red !important;
    }
    .two{
		background: yellow !important;        
    }
    .three{
        background: green !important;        
    }
	.four{
	    background: orange !important;        
	}
	.five{
	    background: blue !important;        
	}
    
</style>
  <body>
    <div id="myTemplate" style="display: none">
      <div>
		 <div  class="col-xs-12" style="border:solid; background-color:purple; width:50px;">
				<div ng-repeat="n in dataItem.StudyTrailId" style="margin-left:-16px;">
					<div  ng-class="{'one':$index===0 , 'two' :$index===1, 'three' :$index===2 ,'four':$index===3,'five':$index===4}" 
                    style="float:left!important; width:07.3px;"> &nbsp;
					</div>
				</div>
		</div>
      </div>
    </div>
	<div id="myTemplate2" style="display: none">
	<input kendo-date-picker k-format="'dd MMM yyyy'" name="siDate" style="width:30%" ng-model="dataItem.SIDate" ng-if="dataItem.SIActual=='N' "  k-on-change="changesSIDate(dataItem)" /> 
	 <label ng-if="dataItem.SIActual=='Y'">{{dataItem.SIDate}}</label> 
	</div>
	
	<div id="myTemplate3" style="display: none">
	<input kendo-date-picker k-format="'dd MMM yyyy'" name="ssvDate" style="width:30%" ng-model="dataItem.SSVDate" ng-if="dataItem.SSVActual=='N' "  k-on-change="changesSSVDate(dataItem)" /> 
	 <label ng-if="dataItem.SSVActual=='Y'">{{dataItem.SSVDate}}</label> 
	</div>
	
	
	
	<div id="myTemplate4" style="display: none">
		{{dataItem.SSU}}
		
	</div>
	
	
	
    <div id="example" ng-app="KendoDemos">
      <div ng-controller="MyCtrl">
        <kendo-grid options="mainGridOptions">
        </kendo-grid>
      </div>
    </div>

    <script>
      angular.module("KendoDemos", [ "kendo.directives","angularMoment" ])
			  .filter("mySSUFilter", function() { // register new filter
		 return function(ssvDate, siDate) { // filter arguments 
				console.log(ssvDate); 
				console.log(siDate);
		return  moment(siDate).diff((moment(ssvDate)), 'days'); // implementation 
		 }; 
		})   
        .controller("MyCtrl", function($scope,moment){
        console.log( angular.element("#myTemplate").html());
		console.log( angular.element("#myTemplate2").html());
		
				
	 $scope.Studies = [
			 {
			  StudyId:1,
			  StudyTrailId:["1","2","3"],
			  StudyName:'ABC',
			  SIDate:'10 May 2017',
			  SIActual:'Y',
			  SSVDate :'01 Apr 2017',
			  SSVActual:'Y',
			  SSU:'39'
			  },
			  
			  {
			  StudyId:2,
			  StudyTrailId:["1","2"],
			  StudyName:'BEX',
			  SIDate:'12 May 2017'
			   ,SIActual:'Y',
			  SSVDate :'10 Apr 2017',
			  SSVActual:'Y',
			  SSU:'32'
			  },
			  {
			  StudyId:3,
			  StudyTrailId:["1"],
			  StudyName:'CDE',
			  SIDate:'15 May 2017'
			  ,SIActual:'Y',
			  SSVDate :'09 Apr 2017',
			  SSVActual:'Y',
			  SSU:'36'
			  },
			  {
			  StudyId:4,
			  StudyTrailId:["1","2","3","4"],
			  StudyName:'DERR',
			  SIDate:'18 May 2017'
			  ,SIActual:'Y',
			  SSVDate :'12 Apr 2017',
			  SSVActual:'Y',
			  SSU:'36'
			  },
			  {
			  StudyId:5,
			  StudyTrailId:["1","2","3"],
			  StudyName:'ERRR',
			  SIDate:'18 May 2017'
			  ,SIActual:'N',
			  SSVDate :'15 Apr 2017',
			  SSVActual:'Y',
			  SSU:'33'
			  },
			  {
			  StudyId:6,
			  StudyTrailId:["1","2"],
			  StudyName:'FRRR',
			  SIDate:'20 May 2017'
			  ,SIActual:'N',
			  SSVDate :'20 Apr 2017',
			  SSVActual:'N',
			  SSU:'30'
			  },
				{
			  StudyId:7,
			  StudyTrailId:["1","2","3","4","5"],
			  StudyName:'FRRR',
			  SIDate:'22 May 2017'
			  ,SIActual:'N',
			  SSVDate :'22 Apr 2017',
			  SSVActual:'N',
			  SSU:'30'
			  }

		];
	
	
	$scope.changesSIDate=function(dataItem){
	
	if(!moment(dataItem.SIDate).isAfter(dataItem.SSVDate)){
		alert('SI date is less then SSV date');
		 dataItem.SIDate= "";
		return;
	
	}
	  dataItem.SSU= 
	  moment(dataItem.SIDate).diff((moment(dataItem.SSVDate)), 'days');
		//moment('2010-10-20').isAfter('2010-10-19');	
		console.log(dataItem);
	}
	$scope.changesSSVDate=function(dataItem){
	
	
	if(!moment(dataItem.SSVDate).isBefore(dataItem.SIDate)){
		alert('SSV date is less then SI date');
	    dataItem.SSVDate= "";
		return;
	}
	  dataItem.SSU= 
		moment(dataItem.SIDate).diff((moment(dataItem.SSVDate)), 'days');
	  console.log(dataItem);
	}
	
	
    $scope.dataSource = new kendo.data.DataSource({
        pageSize: 20,
      //  data: products,
	  data:$scope.Studies,
        autoSync: true,
        schema: {
          model: {
			id:"StudyId",
            fields:{
			StudyId: { editable: false, nullable: true }, 
			//StudyTrailId: { nullable: true }, 
			StudyName :{ nullable: true },
			}			
			
          }
        }
      });
		
        $scope.mainGridOptions = {
          dataSource: $scope.dataSource,
          columns: [ 
					{field:"StudyId", title:"StudyId",width: "2%"},		
					//{field:"StudyName", title:"StudyName" ,	width: "170px" },
					{field:"SSVDate", title:"SSV" ,	template:angular.element("#myTemplate3").html() ,width: "29%"},
					{field:"SSU", title:"SSU" ,	template:angular.element("#myTemplate4").html() ,width: "8%"},
					{field:"SIDate", title:"SI" ,	template:angular.element("#myTemplate2").html() ,width: "29%"},
					{field:"filters", title:"filters" ,	template:angular.element("#myTemplate").html(), width: "20%"}
			]
		  , sortable: true
        };
      })
    </script>


  </body>
</html>
